.encabezado{
    display: flex;
    flex-direction: row;
    height: 10vh;
    justify-content:space-between;
    padding: 20px;
    align-items: center;
    background-image:url(../Imagenes/PicsArt_08-09-08.05.31.png);
    background-repeat: no-repeat;
    background-position: 35% 70%;
    background-size:cover;
    font-family: var(--fuente--principal);
    font-size: 1.3em;
}

body{
    background-color: rgb(234, 228, 228);
}
.cuerpo{
    display: grid;
    width: 90%;
    grid-template-columns: 50% 50%;
    gap: 20px;
    padding-top: 20px;
    padding-left: 20px;
    
    
}
.cuerpo__ficha{
    display: flex;
    flex-direction: column;
    width: 100%;
    /* gap: 2px; */
    background-color: white;
    
}
.ficha__imagen{
    height: 200px;
    padding: 20px;
    cursor: pointer;
}
.ficha__contenido{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
    
}
.ficha__promocion{
    font-size: 1.5em;
    position: relative;
    z-index: 1;
    left: 17px;
    top: -190px;
    color: white;
    background-color: var(--color--base);
    border-radius: 50%;
    padding: 3px;
    
}
.contenido__nombre{
    font-family: var(--fuente--principal);
    font-size: 1.1em;
    font-weight: bold;
    
}
.ficha__contenedor__imagen{
    height: 200px; 
    /* ESTA SERA LA ALTURA DE LA IMAGEN SIEMPRE */
}
.contenido__precio{
    display: flex;
    gap: 14px;
}
i{
    cursor: pointer;
    font-size: 1.9em;
    color: var(--color--base);
}
/* .carrito{
    position: absolute;
    top: -1000px;
    height: 50vh;
    overflow: scroll;
    border-radius: 10%;
    border: 1px dotted white;
}
.carritoA{
    position: absolute;
    z-index: 2;

    top: 60px;
    right: 0;
    padding: 30px;
    display: flex;
    gap: 10px;
    flex-direction: column;
    background-color:var(--color--base);
    
}



.carrito__contenedor{
    display: flex;
    gap: 10px;
    background-color: white;
    padding: 10px;
    
    
}
.contenedor__texto{
    display: flex;
    flex-direction: column;
    height: 15vh;
    justify-content: center;
}
.contenedor__resumen{
    background-color: white;
    padding: 10px;
}
.resumen__factura{
    cursor: pointer;
} */
.pie{
    height: 15vh;
    background-color: var(--color--base);
    margin-top: 20px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
    justify-content: center;
    align-items: center;
}
.pie__parrafo, .pie__firma{
    width: 80%;
    text-align: center;
    
}
.pie__titulo{
    font-size: 1.2em;
    font-family: var(--fuente--principal);
}


    /*Tablets*/
    @media (min-width: 768px) and (min-height:1024px){}
    /* Estilos para el movil horizontal */
    @media (min-height: 375px) and (min-width: 600px) {}



