.carrito{
    position: absolute;
    top: -1000px;
    height: 50vh;
    overflow: scroll;
    border-radius: 10%;
    border: 1px dotted white;
}
.carritoA{
    position: absolute;
    z-index: 2;

    top: 60px;
    right: 0;
    padding: 30px;
    display: flex;
    gap: 10px;
    flex-direction: column;
    background-color:var(--color--base);
    
}



.carrito__contenedor{
    display: flex;
    gap: 10px;
    background-color: white;
    padding: 10px;
    
    
}
.contenedor__texto{
    display: flex;
    flex-direction: column;
    height: 15vh;
    justify-content: center;
}
.contenedor__resumen{
    background-color: white;
    padding: 10px;
}
.resumen__factura{
    cursor: pointer;
}
