body{
    background-image: url(../Imagenes/imagenA.png);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}
.contenedor{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 470px;
    gap: 13px;
    font-family: var(--fuente--principal);
    justify-content: center;
   
}
.contenedor__titulo{
    font-size: 1.9em;
    /* letter-spacing: 13px; */
}
.contenedor__parrafo{
    font-size: 1.2em;
    text-align: center;
    
}
.contenedor__boton{
    padding: 10px;
    background-color: pink;
    border-radius: 20%;
    font-size: 1.2em;
    color: white;
}
.contenedor__boton:hover{
    color: pink;
    background-color: white;
}